*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.mainbody{
    overflow-x: hidden;
}

a{
    transition:0.5s;
    text-decoration: none;
}

button{
    outline:none;
}

.nav{
    width: 100%;
    margin:0;
    display: flex;
    height: auto;
    top:0;
    justify-content: space-between;
    border-bottom: 3px solid #f4f4f4;
    padding: 0;
}

.logo{
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    font-size: 1.5em;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left:10%;
    color:#394153;
}

.nav ul{
    list-style: none;
    display: flex;
    margin-right: 10%;
}

.nav li{
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    padding:0 .6em;
}


.hero{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    background-image: url(../img/herobg.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 5%;
}

.nav a{
    color:#394153;
}

.nav a:hover{
    color:turquoise;
}

.herobutton{
    display: block;
    float:center;
}

.info{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 15%;
}

.info h1{
    font-size: 2em;
    margin:0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.info p{
    font-size: 1em;
    margin:0;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding-top: 2%;
}

#workbtn{
    background-color: white;
    color:#394153;
    border: none;
    width: 250px;
    font-size: 1em;
    height: 3.4em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1%;
    margin-bottom: 3%;
    border-radius: 40px;
}

#workbtn:hover{
    background-color: turquoise;
    color:white;
    transition:0.5s;
}

#talkbtn{
    color:white;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid white;
    width: 250px;
    height: 3.4em;
    border-radius: 40px;
    cursor: pointer;
}

#talkbtn:hover{
    background-color: turquoise;
    border: 2px solid turquoise;
    color:white;
    transition:0.5s;
}

.services{
    text-align: center;
    background-color: #F7FBFE;
    padding: 5%;
    padding-bottom: 5%;
}

.services h2{
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 800;
}

.services h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    color:#394153;
}

.services p{
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 2% 10% 2% 10%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
    padding: 2%;
    margin-left:5%;
    row-gap: 3em;
    text-align: left;
}

.cards h2{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0% 0% 0% 10%;
    margin-top:-5%;
}

.card1{
    float: left;
    width: 85%;
}

.cards p{
    float: left;
    text-align: left;
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 2% 10% 2% 10%;
}

.cards a{
    text-decoration: none;
    font-size: 0.9em;
    margin:0;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 2% 10% 2% 10%;
}

.card4{
    float: left;
    width: 85%;
}


.card3{
    float: left;
    width: 85%;
}


.card2{
    float: left;
    width: 85%;
}

.portfolio{
    text-align: center;
}

.portfolio p{
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 0% 10% 2%;
}


.portfolio h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#394153;
    padding: 2% 10% 2%;
}

.portfolio h2{
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 800;
}

.gallery{
    padding: 2% 10% 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
    column-gap: 2em;
    row-gap: 2em;
}

.img1{
    background-image: url(../img/port1.jpeg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}


.img2{
    background-image: url(../img/port2.jpg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}

.img3{
    background-image: url(../img/port3.jpg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}

.img4{
    background-image: url(../img/port4.jpg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}

.img5{
    background-image: url(../img/port5.jpg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}

.img6{
    background-image: url(../img/port6.jpg);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    padding:10% 10% 8%;
}

.skills-info{
    width: 90%;
}

.skills h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color:#394153;
    padding: 0% 0% 2%;
}

.skills h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#394153;
    padding: 2% 0% 0%;
}

.skills p{
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 0% 0% 5%;
}

.container{
    padding: 5% 0% 0%;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    column-gap: 3em;
    row-gap: 1em;
}

.card{
    display: table;
    width: 90%;
    box-shadow:
        0 1.4px 4.7px rgba(0, 0, 0, 0.012),
        0 3.6px 12px rgba(0, 0, 0, 0.018),
        0 7.4px 24.5px rgba(0, 0, 0, 0.022),
        0 15.3px 50.4px rgba(0, 0, 0, 0.028),
        0 42px 138px rgba(0, 0, 0, 0.04);
    border-radius: 1em;
    height: 50px;
}

.card i{
    display: table-cell;
    text-align: center;
    font-size: 30px;
    padding-left:5%;
    vertical-align: middle;
    color:#394153;
    width: 10%;
    height: 100%;
}

.card h2{
    display:table-cell;
    vertical-align: middle;
    width: 80%;
    padding-left:10%;
    color:#394153;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.connectmain{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #F7FBFE;
}

.connect{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}


.connect h2{
    padding-top: 10%;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 800;
}

.connect h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    color:#394153;
}

.connect p{
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 2% 10% 2% 10%;
}


.connect main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 4em;
    margin-top: 2em;
}

.connect .card{
    width: 100%;
    background-color: white;
    height: 350px;
    text-align: left;
}

.cardimg1{
    background-image: url(../img/form.svg);
    background-size: contain;
    width: 300px;
    display: inline-block;
    margin-top: 15%;
    background-repeat: no-repeat;
    height: 150px;
    margin-left:10%;
}

.cardimg2{
    width: 100%;
    background-image: url(../img/check.svg);
    background-size: cover;
    width: 200px;
    display: inline-block;
    margin-top: 15%;
    background-repeat: no-repeat;
    height: 169px;
    margin-left:20%;
}

.cardimg3{
    width: 100%;
    background-image: url(../img/publish.svg);
    width: 200px;
    height: 169px;
    background-repeat: no-repeat;
    margin-left:15%;
    display: inline-block;
    margin-top: 15%;
    background-size: cover;
}

.card .info{
    width: 80%;
    margin-top:-2%;
    text-align: left;
    padding:15%;
}

.card .info p{
    padding: 0;
}
.card .info h2{
    padding: 0;
}

.card .info a{
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: .9em;
    color:#394153;
}

.card .info a:hover{
    color: turquoise;
}

.card .info h2{
    text-transform: none;
    font-size: 1.1em;
}

footer{
    text-align: center;
    padding: 0 10% 0;
}

footer a{
    text-decoration: none;
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

footer a:hover{
    color:turquoise;
}

footer h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin:0;
    color:#394153;
}

footer h2{
    color:#394153;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800;
}

footer p{
    font-size: 0.9em;
    margin:0;
    color: #666666;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding:5% 0% 5%;
    line-height: 30px;
}

.footer-wrapper{
    display: grid;
    padding: 5% 0% 5%;
    text-align:left;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    column-gap: 2em;
    row-gap: 1em;
}

.company ul{
    list-style:none;
    margin:0;
    padding:0;
    line-height: 30px;
}

footer button{
    width: 90%;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    border:2px solid #394153;
    color: #394153;
    font-size: 1em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

footer button:hover{
    color:white;
    background-color: turquoise;
    border:2px solid turquoise;
    transition:0.5s;
}


.podcast{
    padding-bottom:2%;
}

.legal a{
    padding-bottom: 6%;
}

.footer-end{
    display: block;
}

.copyright{
    float:left;
}

.design{
    float:right;
}

@media (min-width:3840px){
    .imgholder{
        width:100%;
    }

    button{
        width:2em;
    }

    body{
        font-size: 2em;
    }
}

@media (max-width: 900px){
    .hero .info{
        padding:15%;
    }

}

@media (min-width: 650px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}


@media (min-width: 1080px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4,auto);
    }
}

#back-to-top{
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: black;
    color: white;
    font-family: "Montserrat",sans-serif;
    border: none;
    border-radius: 10px;
    padding:1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 2em 0 rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: 1em;
    outline: none;
}

#back-to-top:hover{
    background-color: rgba(0,0,0,.9);
    color: white;
    padding: 1em 1.5em;
}

#back-to-top.visible{
    opacity: 1;
}